mixin rich-checkbox-buttons({containerMods, mods, description, listMods, items})
  div(class=`rich-checkbox-buttons`)
    div(class=`rich-checkbox-buttons__container ${containerMods}`)
      p(class=`rich-checkbox-buttons__description ${mods}`) #{description}
    

      ul(class=`rich-checkbox-buttons__list ${listMods}`)
        each item in items
          label(class=`rich-checkbox-buttons__label`)
            input(class=`rich-checkbox-buttons__input` type=`checkbox`) 
            div(class=`rich-checkbox-buttons__checkbox`)
            div(class=`rich-checkbox-buttons__wrapper`)
              p(class=`rich-checkbox-buttons__headline`) #{item[0]}
              p(class=`rich-checkbox-buttons__text`) #{item[1]}
        