mixin rich-checkbox-buttons({containerMarginTop, containerPaddingTop, description, items})
  -
    let containerMarginTopMod = '';
    if(containerMarginTop) {
      containerMarginTopMod = `rich-checkbox-buttons__container_mt_${containerMarginTop}`
    }


    let containerPaddingTopMod = '';
    if(containerPaddingTop) {
      containerPaddingTopMod = `rich-checkbox-buttons__container_pt_${containerPaddingTop}`
    }
    
  div(class=`rich-checkbox-buttons`)
    div(class=`rich-checkbox-buttons__container ${containerMarginTopMod} ${containerPaddingTopMod}`)
      p(class=`rich-checkbox-buttons__description`) #{description}
      ul(class=`rich-checkbox-buttons__list`)
        each item in items
          label(class=`rich-checkbox-buttons__label`)
            input(class=`rich-checkbox-buttons__input` type=`checkbox`) 
            div(class=`rich-checkbox-buttons__checkbox`)
            div(class=`rich-checkbox-buttons__wrapper`)
              p(class=`rich-checkbox-buttons__headline`) #{item[0]}
              p(class=`rich-checkbox-buttons__text`) #{item[1]}
        