mixin rich_checkbox_buttons(object)
  div(class=`rich_checkbox_buttons`)
    div(class=`rich_checkbox_buttons__container ${object.containerMods}`)
      p(class=`rich_checkbox_buttons__description ${object.mods}`) #{object.description}
    

      ul(class=`rich_checkbox_buttons__list ${object.listMods}`)
        each item in object.items
          label(class=`rich_checkbox_buttons_label`)
            input(class=`rich_checkbox_buttons__input` type=`checkbox`) 
            div(class=`rich_checkbox_buttons__checkbox`)
            div(class=`rich_checkbox_buttons__wrapper`)
              p(class=`rich_checkbox_buttons__headline`) #{item[0]}
              p(class=`rich_checkbox_buttons__text`) #{item[1]}
        