mixin review({containerMods, userMods, image, name, date, text})
  div(class=`review`)
    div(class=`review__container ${containerMods}`)
      div(class=`review__user ${userMods}`)
        div(class=`review__photo  ${image}`)
        div(class=`review__info`) 
          p(class=`review__name`) #{name}
          p(class=`review__date`) #{date}
      div(class=`review__feedback`)
        +like-button({buttonMods: 'like-button__add_pressed like-button__add_margin-in-review-block', counterMods: 'like_button__counter_button-pressed',count: 12})
        p(class=`review__text`) #{text}