mixin text-block({blockMods, containerMods, descMods, description, contentMods, content})
  div(class=`text-block ${blockMods}`)
    div(class=`text-block__container ${containerMods}`)
      p(class=`text-block__description ${descMods}`)  #{description}
      p(class=`text-block__content ${contentMods}`) #{content}