mixin text-block({blockMods, containerMods, descMods, description, contentMods, content})
  div(class=`text_block ${blockMods}`)
    div(class=`text_block__container ${containerMods}`)
      p(class=`text_block__description ${descMods}`)  #{description}
      p(class=`text_block__content ${contentMods}`) #{content}