mixin search-room({position, top, left, sendTo, formName, buttonWide})
  -
    let positionMod = '';
    if(position === 'absolute' || position === 'static') {
      positionMod = `search-room_position_${position}`
    }

    let topMod = '';
    if(top === 140) {
      topMod = `search-room_top_${top}`
    }

    let leftMod = '';
    if(left === 140) {
      leftMod = `search-room_left_${left}`
    }
    const containerMods = `${positionMod} ${topMod} ${leftMod}`;


  section(class=`search-room ${containerMods}`)
    section(class=`search-room__container`)
      form(class='search-room__form' action=`${sendTo}`, method=`post` name=`${formName}` autocomplete=`false`)
        +component-headline({description: "Найдём номера под ваши пожелания"})

        +double-date-dropdown({
      inputDateDropdownContainer: {marginBottom: 21},
      inputDateDropdownDescriptionFirst:  {
        description: "Прибытие"
      } ,
      inputDateDropdownFirst: {
        contClassMods: "none",
        inputClassMods: "datepick-start",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'start',
        buttonID: 'start-button'
      },
      inputDateDropdownDescriptionSecond: {
        containerMods: "",
        contentMods: "",
        description: "Выезд"
      },
      inputDateDropdownSecond: {
        contClassMods: "none",
        inputClassMods: "datepick-end",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'end',
        buttonID: 'end-button'
      },
      calendar: {
          id: 'calendar-start'
        }
    })

        +input-description({containerMods: '',contentMods: '', description: 'гости'})
        +input-dropdown-guests({
          contMarginBottom: 31, 
          properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
          controlsMods: "input-dropdown-guests__controls_closed",
          inputClassMods: "input-dropdown-guests__input--controls-closed ",
          type: "text",
          placeholder: "Сколько гостей",
          name: "input_dropdown_guests__input",
          value: "",
          resetMods: "input-dropdown-guests__button_reset_hidden"
          })

        +button-submit({buttonText: "подобрать номер", type: "submit"})



