mixin button({contMods, containerMods, link, buttonMods, type, href, buttonText})
  div(class=`button ${contMods}`)
    div(class=`button__container ${containerMods}`)
      if(link === true)
        button(class=`button__body ${buttonMods}` type=`${type}`)
          a(class=`button__link` href=`${href}`) #{buttonText}
      else 
        button(class=`button__body ${buttonMods}` type=`${type}`) #{buttonText}
