mixin room_info(obj)
  div(class=`room_info ${obj.blockMods}`)
    div(class=`room_info__overall ${obj.overallMods}`)
      p(class=`room_info__number ${obj.numberMods}`)
        span(class=`room_info__symbol`) #{obj.numberSymbol}
        span(class=`room_info__room_number`) !{obj.numberText}
      p(class=`room_info__type ${obj.typeMods}`) #{obj.typeText}
    div(class=`room_info__price ${obj.priceMods}`)
      p(class=`room_info__cost ${obj.costMods}`) #{obj.costText}
      p(class=`room_info__period ${obj.periodMods}`)  !{obj.periodText}