mixin masked-text-field({blockMods, containerMods, inputClassMods, type, placeholder, name, value})
  div(class=`masked-text-field ${blockMods}`)
    div(class=`masked-text-field ${containerMods}`)
      input(class=`masked-text-field__input ${inputClassMods}` type=`${type}` placeholder=`${placeholder}` name=`${name}` value=`${value}`)

