mixin masked-text-field({blockMods, containerMods, inputClassMods, type, placeholder, name, value})
  div(class=`masked_text_field ${blockMods}`)
    div(class=`masked_text_field ${containerMods}`)
      input(class=`masked_text_field__input ${inputClassMods}` type=`${type}` placeholder=`${placeholder}` name=`${name}` value=`${value}`)

