mixin text_block(obj)
  div(class=`text_block ${obj.blockMods}`)
    div(class=`text_block__container ${obj.containerMods}`)
      p(class=`text_block__description ${obj.descMods}`)  #{obj.description}
      p(class=`text_block__content ${obj.contentMods}`) #{obj.content}