mixin masked_text_field(input)
  div(class=`masked_text_field ${input.contClassMods}`)
    input(class=`masked_text_field__input ${input.inputClassMods}` type=`${input.type}` placeholder=`${input.placeholder}` name=`${input.name}` value=`${input.value}`)

