mixin component-headline({marginTop, marginBottom, marginLeft, fontSize, textAlign, maxWidth, containerMods, mods, description})

  -
    let marginTopMod = '';
    if(marginTop) {
      marginTopMod = `component-headline__container_mt_${marginTop}`;
    }

    let marginBottomMod = '';
    if(marginBottom) {
      marginBottomMod = `component-headline__container_mb_${marginBottom}`;
    }

    let marginLeftMod = '';
    if(marginLeft) {
      marginLeftMod = `component-headline__container_ml_${marginLeft}`;
    }

    let fontSizeMod = '';
    if(fontSize) {
      fontSizeMod = `component-headline__text_font-size_${fontSize}`;
    }

    let textAlignMod = '';
    if(textAlign) {
      marginLeftMod = `component-headline__text_text-align_${textAlign}`;
    }

    let maxWidthMod = '';
    if(maxWidth) {
      maxWidthMod = `component-headline__text_max-width_${maxWidth}`;
    }

  div(class=`component-headline`)
    div(class=`component-headline__container ${marginTopMod} ${marginLeftMod} ${marginBottomMod}`)
      p(class=`component-headline__text ${fontSizeMod} ${textAlignMod} ${maxWidthMod}`) #{description}

