mixin room({paddingBottom, imageMarginTop, carouselID, imageOne, imageTwo, imageThree, imageFour, controlsID, dotsID, specialChar, roomNumber,  status, price, period, rating, ammount})
  -
    let containerPaddingBottomMod = '';
    if(paddingBottom) {
      containerPaddingBottomMod = `room__container_pb_${paddingBottom}`;
    }

    let imageMarginTopMod = '';
    if(imageMarginTop) {
      imageMarginTopMod = `room__images_mt_${imageMarginTop}`;
    }

    let imageMods = ''; 

    let imageOneMod = ''
    if(imageOne !== undefined) {
      imageOneMod =`room__image_background-${imageOne}`
    }
    let imageTwoMod = ''
    if(imageTwo !== undefined) {
      imageTwoMod =`room__image_background-${imageTwo}`
    }
    let imageThreeMod = ''
    if(imageThree !== undefined) {
      imageThreeMod =`room__image_background-${imageThree}`
    }
    let imageFourMod = ''
    if(imageFour !== undefined) {
      imageFourMod =`room__image_background-${imageFour}`
    }

  
  div(class=`room`)
    div(class=`room__container ${containerPaddingBottomMod}`)
      div(class=`room__images ${imageMarginTopMod}`)
        ul(class=`room__gallery owl-carousel owl-theme` id=`${carouselID}`)
          li(class=`room__image ${imageOneMod}`)
          li(class=`room__image ${imageTwoMod}`)
          li(class=`room__image ${imageThreeMod}`)
          li(class=`room__image ${imageFourMod}`)
        
        div(class=`room__controls` id=`${controlsID}`)

        ul(class=`room__dots` id=`${dotsID}`)
          li(class=`room__dot room__dot_active `)
          li(class=`room__dot`)
          li(class=`room__dot`)
          li(class=`room__dot`)
      div(class=`room__overall`)
        p(class=`room__number`)
          spane(class=`room__special-char`) #{specialChar}
          span(class=`room__special-number`) #{roomNumber}
          span(class=`room__status`) #{status}
        p(class=`room_price`) #{price}
          span(class=`room__period`) #{period}
      div(class=`room__rating`)
        +rate-button({checkboxes: [1,2,3,4,5], rating: rating})
        p(class=`room__feedbacks`) #{ammount}
          span(class=`room__number-span`) Отзывов