mixin room({blockMods, containerMods, imagesMods, carouselID, imageOne, imageTwo, imageThree, imageFour, controlsID, dotsID, specialChar, roomNumber,  status, price, period, rating, ammount})
  div(class=`room ${blockMods}`)
    div(class=`room ${containerMods}`)
      div(class=`room__images ${imagesMods}`)
        ul(class=`room__gallery owl-carousel owl-theme` id=`${carouselID}`)
          li(class=`room__image ${imageOne}`)
          li(class=`room__image ${imageTwo}`)
          li(class=`room__image ${imageThree}`)
          li(class=`room__image ${imageFour}`)
        
        div(class=`room__controls` id=`${controlsID}`)

        ul(class=`room__dots` id=`${dotsID}`)
          li(class=`room__dot room__dot_active `)
          li(class=`room__dot`)
          li(class=`room__dot`)
          li(class=`room__dot`)
      div(class=`room__overall`)
        p(class=`room__number`)
          spane(class=`room__special-char`) #{specialChar}
          span(class=`room__special-number`) #{roomNumber}
          span(class=`room__status`) #{status}
        p(class=`room_price`) #{price}
          span(class=`room__period`) #{period}
      div(class=`room__rating`)
        +rate-button({checkboxes: [1,2,3,4,5], rating: rating})
        p(class=`room__feedbacks`) #{ammount}
          span(class=`room__number-span`) Отзывов