mixin room-info({blockMods, containerMods, overallMods, numberMods, numberSymbol, numberText, typeText, priceMods, costMods, costText, periodMods, periodText})
  div(class=`room-info ${blockMods}`)
    div(class=`room-info__container ${containerMods}`)
      div(class=`room-info__overall ${overallMods}`)
        p(class=`room-info__number ${numberMods}`)
          span(class=`room-info__symbol`) #{numberSymbol}
          span(class=`room-info__room-number`) !{numberText}
        p(class=`room-info__type ${typeMods}`) #{typeText}
      div(class=`room-info__price ${priceMods}`)
        p(class=`room-info__cost ${costMods}`) #{costText}
        p(class=`room-info__period ${periodMods}`)  !{periodText}