-
  let text_field_config = {
    contClassMods: 'none',
    inputClassMods: 'none',
    type: 'text',
    blockquote: 'Email',
    name: 'email',
    value: '',
  }

mixin text-field({blockMods, containerMods, inputClassMods, type, placeholder, name, value})
  div(class=`text-field ${blockMods}`)
    div(class=`text-field__container ${containerMods}`)
      input(class=`text-field__input ${inputClassMods}` type=`${type}` placeholder=`${placeholder}` name=`${name}` value=`${value}`)