mixin benefit(object)
  div(class=`benefit ${object.contMods}`)
    div(class=`benefit__container ${object.containerMods}`)
      div(class=`benefit__image ${object.imageMods}`)
      div(class=`benefit__description ${object.descMods}`)
        p(class=`benefit__name ${object.nameMods}`) #{object.nameText}
        p(class=`benefit__property ${object.propMods}`) #{object.propText}