mixin benefit({contMods, containerMods, imageMods, descMods, nameMods, nameText, propMods, propText})
  div(class=`benefit ${contMods}`)
    div(class=`benefit__container ${containerMods}`)
      div(class=`benefit__image ${imageMods}`)
      div(class=`benefit__description ${descMods}`)
        p(class=`benefit__name ${nameMods}`) #{nameText}
        p(class=`benefit__property ${propMods}`) #{propText}