mixin slider({containerMods, headerMods, descMods, description, selRangeMods, rangeSelected, rangeMods, id})
  div(class=`slider`)
    div(class=`slider__container ${containerMods}`)
      div(class=`slider__header ${headerMods}`)
        p(class=`slider__description ${descMods}`) #{description}
        p(class=`slider__selected-range ${selRangeMods}`) #{rangeSelected}
      div(class=`slider__range ${rangeMods}` id=`${id}`)
